#wp-admin-bar-top-secondary {
	padding-right:26px!important;
}

#wp-admin-bar-toggle {
	position:absolute!important;
	top:0;
	right:0;
	width:25px;
}

#wp-admin-bar-toggle a.ab-item {
	text-align:center;
	padding:0!important;
	line-height:32px;
	color:#999;
	font-size:16px;
}

#wp-admin-bar-toggle > .ab-item:before {
	content: "\f142";
	position:absolute;
	left:0;
	padding: 6px 0;
}

#showadminbar {
	position:fixed;
	width:24px;
	display:block;
	height:32px;
	top:0;
	right:0;
	direction:ltr;
	color:#999;
	font:400 16px/1 dashicons;
	background-color:#222;
	text-decoration:none;
	text-align:center;
	-webkit-border-bottom-left-radius:5px;
	-moz-border-radius-bottomleft:5px;
	-o-border-radius-bottomleft:5px;
	border-bottom-left-radius:5px;
	z-index:9999;
}

#showadminbar:before {
	content: "\f140";
	left:4px;
	position:absolute;
	top:7px;
}

#showadminbar:hover {
	color:#fafafa;
}

@media all and (max-width: 782px) {
    
    #wp-admin-bar-top-secondary {
    	padding-right:45px !important;
    }
    
	#wpadminbar li#wp-admin-bar-toggle {
		display:block;
		width: 44px;
		border-left: 1px solid #444;
	}
	
	#wp-admin-bar-toggle > .ab-item::before {
		font-size:26px;
        left: 8px;
        top: 5px;
	}
	
	#showadminbar {
    	width: 35px;
    	height: 35px;
	}
	
	#showadminbar:before {
        left: 4px;
        top: 4px;
        font-size: 26px;
	}
	
}