#wp-admin-bar-top-secondary { padding-right:26px !important; }
#wp-admin-bar-hideshow { position:absolute !important; top:0; right:0; width:25px; }
#wp-admin-bar-hideshow .ab-item {
	text-align:center;
	padding:0 !important;
	line-height:24px;
}
#showadminbar { 
	position:fixed; 
	width:24px; 
	display:block; 
	height:28px; 
	top:0; 
	right:0; 
	direction:ltr; 
	color:#ccc;
	font:normal 13px/24px sans-serif;
	background-color:#464646; 
	background-image:-ms-linear-gradient(bottom, #373737, #464646 5px); 
	background-image:-moz-linear-gradient(bottom, #373737, #464646 5px); 
	background-image:-o-linear-gradient(bottom, #373737, #464646 5px); 
	background-image:-webkit-gradient(linear, left bottom, left top, from(#373737), to(#464646)); 
	background-image:-webkit-linear-gradient(bottom, #373737, #464646 5px); 
	background-image:linear-gradient(bottom, #373737, #464646 5px);
	text-decoration:none;
	text-align:center;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-o-border-radius-bottomleft: 5px;
	border-bottom-left-radius: 5px;
	z-index:9999;
}

#showadminbar:hover { color:#fafafa; background-color:#3a3a3a; background-image:-ms-linear-gradient(bottom, #3a3a3a, #222); background-image:-moz-linear-gradient(bottom, #3a3a3a, #222); background-image:-o-linear-gradient(bottom, #3a3a3a, #222); background-image:-webkit-gradient(linear, left bottom, left top, from(#3a3a3a), to(#222)); background-image:-webkit-linear-gradient(bottom, #3a3a3a, #222); background-image:linear-gradient(bottom, #3a3a3a, #222); }