#wp-admin-bar-top-secondary { padding-right:26px !important; }
#wp-admin-bar-hideshow { position:absolute !important; top:0; right:0; width:25px; }
#wp-admin-bar-hideshow a.ab-item {
	text-align:center;
	padding:0 !important;
	line-height:32px;
	color: #999999;
	font-size: 16px;
}
#showadminbar { 
	position:fixed; 
	width:24px;
	display:block; 
	height:32px; 
	top:0; 
	right:0; 
	direction:ltr; 
	color:#999999;
	font:normal 16px/32px sans-serif;
	background-color:#222222;
	text-decoration:none;
	text-align:center;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-o-border-radius-bottomleft: 5px;
	border-bottom-left-radius: 5px;
	z-index:9999;
}

#showadminbar:hover { 
	color:#fafafa;
}

@media all and (max-width: 782px) {
	#showadminbar,
	#wp-admin-bar-hideshow a.ab-item {
		display: none;
	}
	
	#wp-admin-bar-top-secondary {
		padding-right: 0 !important;
	}
}